.bg{
    /*background: url("../images/home.jpg") 100%/cover no-repeat;*/
    /*padding: 200px 0;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.carousel_{
    /*background: url("../images/Bg_01.png") 100%/cover no-repeat;*/
    /*padding: 200px 0;*/
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.navbar_index{
    z-index: 1;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*.bg{*/
/*    background-image: url("../images/Bg_01.png");*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    position: relative;*/
/*    !*background-size: cover, 100% 100%, auto ;*!*/
/*}*/

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url("../images/Bg_01.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
}
.t-size{
    font-size: 120%;
}
.t-shadow{
    text-shadow: 0 4px 4px rgba(0,0,0,.22);
}

.ant-btn-primary {
    background-color: yellow;
}

@media only screen and (max-width: 600px) {
    .topPadding{
        padding-top: 20px;
    }
}

/*@media (min-width: 1200px){*/
/*    .container {*/
/*        max-width: 1140px;*/
/*    }*/
/*}*/

